textarea,input,select { border:None; }

@media screen {
	body { background-color:#2d2d2d; color:#729fcf; }
	textarea,input,select { background-color:black; color:#729fcf; }
	a:link,a:visited,a:active { color:#b8cfe7; }
	a:hover { color:white; }
}
